@model crowdfunding_application.Models.ViewModels.DetailsCampaignViewModel
@{
    ViewBag.Title = Model.campaign.Title;
}
<div>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title font-weight-bold text-left">@Model.campaign.Title</h2>
            <img width="500" src="@Model.campaign.HomeImage" />
            <p class="card-text h3 text-left">@Model.campaign.Description</p>
            <hr />
            <p class="card-text h3 text-secondary text-left">Earned @Model.campaign.MoneyActual/@Model.campaign.MoneyGoal$</p>
            <hr />
            <p class="card-footer text-muted">Creation date @Model.campaign.CreationDate</p>
            <div id="donatorControl">
                <a class="btn btn-outline-success col-sm-12" asp-action="Pay" asp-controller="Transaction" asp-route-id="@Model.campaign.Id">Donate</a>
            </div>
            <div id="creatorControl">
                <h2>News</h2>
                <hr />
                <a class="btn btn-outline-danger col-sm-3" asp-action="Delete" asp-controller="Campaign" asp-route-id="@Model.campaign.Id">Delete</a>
                <a class="btn btn-outline-primary col-sm-3" asp-action="Create" asp-controller="News" asp-route-id="@Model.campaign.Id">Create news</a>
                <a class="btn btn-outline-primary col-sm-3" asp-action="Edit" asp-controller="Campaign" asp-route-id="@Model.campaign.Id">Edit</a>
                <ul class="list-group">
                    @foreach (var item in Model.NewsList)
                    {
                        <li class="list-group-item text-lg-left">
                            <div class="card-body">
                                <h5 class="card-title">@item.Title</h5>
                                <p class="card-text">@item.Description</p>
                                <p class="card-footer text-muted">@item.CreationDate</p>
                                <a class="btn btn-outline-primary" asp-action="Index" asp-controller="News" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-outline-danger" asp-action="Delete" asp-controller="News" asp-route-id="@item.Id">Delete</a>
                            </div>
                        </li>

                    }
                </ul>
                <br />
                <h2>Bonuses</h2>
                <hr />
                <a class="btn btn-outline-primary col-sm-9" asp-action="Create" asp-controller="Bonus" asp-route-id="@Model.campaign.Id">Create</a>
                <ul class="list-group list-group-horizontal">
                    @foreach (var item in Model.BonusList)
                    {
                        <li class="list-group-item text-lg-left">
                            <div class="card-body">
                                <h3 class="card-title">@item.Title</h3>
                                <img src="@item.Image" />
                                <p class="card-text">@item.Description</p>
                                <a class="btn btn-outline-primary" asp-action="Index" asp-controller="Bonus" asp-route-id="@item.Id">Edit</a>
                                <a class="btn btn-outline-danger" asp-action="Delete" asp-controller="Bonus" asp-route-id="@item.Id">Delete</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
            
        </div>
        
        
     </div>
</div>

<script>
    var creatorControl = document.getElementById("creatorControl")
    var donatorControl = document.getElementById("donatorControl")
    if ('@(ViewBag.CurrentUserId)' == '@(ViewBag.CreatorId)') {
        console.log("match")
        creatorControl.style.display = 'block';
        donatorControl.style.display = 'none';
    }
    else {
        console.log("don't match")
        donatorControl.style.display = 'block';
        creatorControl.style.display = 'none';
    }
</script>