@model crowdfunding_application.Models.ViewModels.InboxNewsViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="d-flex justify-content-center border-dark">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item text-dark font-weight-bold"><a class="btn" asp-action="" asp-controller="" asp-route-category="">Everything</a></li>
            <li class="list-group-item text-dark font-weight-bold"><a class="btn" asp-action="" asp-controller="" asp-route-category="">Technology</a></li>
            <li class="list-group-item text-dark font-weight-bold"><a class="btn" asp-action="" asp-controller="" asp-route-category="">Design</a></li>
            <li class="list-group-item text-dark font-weight-bold"><a class="btn" asp-action="" asp-controller="" asp-route-category="">Art</a></li>
            <li class="list-group-item text-dark font-weight-bold"><a class="btn" asp-action="" asp-controller="" asp-route-category="">Food</a></li>
        </ul>
    </div>
    <br />
    <div>
        @foreach (News news in Model.NewsList)
        {
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title font-weight-bold">@news.Title</h2>
                    <a class="link" asp-action="Details" asp-controller="Campaign" asp-route-id="@news.CampaignId">
                        <img class="card-img" src="@news.Image" />
                    </a>
                    <p class="card-text h3">@news.Description</p>
                    <p class="card-footer">@news.CreationDate</p>
                </div>
            </div>
        }
    </div>
</div>

<script>

</script>
