@model crowdfunding_application.Models.ViewModels.InboxNewsViewModel;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="col-xs-12">
        <form asp-action="search" asp-controller="campaign" method="post">
            <label for="search">Search</label>
            <input type="text" name="key" id="search" />
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </form>
    </div>
    
    <div class="d-flex justify-content-center border-dark">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item text-dark font-weight-bold"><a class="btn" asp-action="View" asp-controller="Campaign" asp-route-category="All">Everything</a></li>
            <li class="list-group-item text-dark font-weight-bold"><a class="btn" asp-action="View" asp-controller="Campaign" asp-route-category="Technology">Technology</a></li>
            <li class="list-group-item text-dark font-weight-bold"><a class="btn" asp-action="View" asp-controller="Campaign" asp-route-category="Design">Design</a></li>
            <li class="list-group-item text-dark font-weight-bold"><a class="btn" asp-action="View" asp-controller="Campaign" asp-route-category="Art">Art</a></li>
            <li class="list-group-item text-dark font-weight-bold"><a class="btn" asp-action="View" asp-controller="Campaign" asp-route-category="Food">Food</a></li>
        </ul>
    </div>
    <br />
    <div>
        @foreach (News news in Model.NewsList)
        {
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title font-weight-bold">@news.Title</h2>
                    <a class="link" asp-action="Details" asp-controller="Campaign" asp-route-id="@news.CampaignId">
                        <img class="card-img" src="@news.Image" />
                    </a>
                    <p class="card-text h3">@news.Description</p>
                    <p class="card-footer">@news.CreationDate</p>
                </div>
            </div>
        }
    </div>
</div>

<script>

</script>
